<h1>Short link</h1><br><hr><br>
<h4>localhost:3000/nps.go.<%=newUrl.hash%></h4>
<br>
<h4>clicked : <%=newUrl.click_count%> times</h4>
<button class="menuBtn"><a href="/">Go get another short link</a></button>